* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #222;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, rgb(255, 145, 0),rgba(218, 10, 200, 0.993));
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  height: 60px;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px;
  border-radius: 30px;
  flex: 1;
  font-size: 1rem;
  margin-right: 1rem; 
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search input {
    font-size: 0.8rem; 
    margin-right: 0.5rem; 
  }
  
  .search button {
    width: 40px; 
    height: 40px;
  }
}

.search button img{
  width: 16px;
}
.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
  font-size: 80px;
  font-weight: 500;
}
.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col{
  display:flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.Humidity,.Wind{
  font-size: 28px;
  margin-top: -6px;
}
.weather{
  display: none;
}
.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
.feedback{
    display: block;
    text-align: center;
    height: 40px;
    padding: 10px;
    border: none;
    background-image: linear-gradient(135deg, rgb(255, 145, 0),rgba(218, 10, 200, 0.993));
    margin: auto;
    max-width: 120px;
    margin-top: 10px;
    border-radius: 4px;
    color: #007BFF;
    text-decoration: none;
  }

  /* .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .search input {
    border: 0;
    height: 60px;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    margin-right: 16px;
  }
  .search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  } */